<div class="background">
  <div class="row">
    <div class="col-12 title animate__animated animate__animated">
      <h1> Seleção de Câmera </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-2 col-12 clickable animate__animated animate__backInRight"
         *ngFor="let scene of this.obs.scenes"
         (click)="this.obs.setScene(scene.name);"
         [ngClass]="{'activated': (this.obs.activeScene == scene.name)}">
      <div>
        <a [hidden]="this.obs.activeScene != scene.name">></a>
        {{scene.name}}
        <a [hidden]="this.obs.activeScene != scene.name"><</a>
      </div>
    </div>
  </div>
</div>